In [6]:
import pandas as pd 
import glob
from bioinfokit import analys, visuz
import re 

st = 'data\dataset1.csv'

na = re.search("data\\\(.*)",st)
na.group(1)

In [71]:
for i in glob.glob("data\*.csv"):
    name = re.search("data\\\(.*)\.csv",str(i))
    name = name.group(1)
    df = pd.read_csv(i)
    df.head()
    df = df.dropna()
    visuz.GeneExpression.ma(df=df, lfc='log2FoldChange', ct_count='lfcSE', st_count='lfcSE', pv='pvalue',plotlegend=True,figname="results/MA/"+name)
    visuz.GeneExpression.volcano(df=df, lfc='log2FoldChange', pv='pvalue',figname="results/Volcano/"+name)

In [26]:
df = pd.read_csv('data/dataset2.csv')
df.head()
df = df.dropna()
visuz.GeneExpression.ma(df=df, lfc='log2FoldChange', ct_count='lfcSE', st_count='lfcSE', pv='pvalue',figname="dataset1")
visuz.GeneExpression.volcano(df=df, lfc='log2FoldChange', pv='pvalue',figname="dataset2")

In [ ]:
from bioinfokit import analys, visuz
# load dataset as pandas dataframe
df = analys.get_data('ma').data
df.head(2)
          GeneNames  value1  value2    log2FC       p-value
0  LOC_Os09g01000.1    8862   32767 -1.886539  1.250000e-55
1  LOC_Os12g42876.1    1099     117  3.231611  1.050000e-55

visuz.GeneExpression.ma(df=df, lfc='log2FC', ct_count='value1', st_count='value2', pv='p-value')

In [35]:
df.head()

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,gene1,109.136103,2.619545,0.501273,5.225784,1.734191e-07,0.000002
1,gene2,21.822710,0.156713,0.599716,0.261312,7.938519e-01,0.867599
2,gene3,16.199002,-0.775808,0.831027,-0.933554,3.505340e-01,0.482146
3,gene4,15.058614,-2.038400,0.793022,-2.570421,1.015749e-02,0.028426
4,gene5,3.683088,-3.399092,1.637710,-2.075516,3.793875e-02,0.083555

In [63]:
import re 

st = 'data\dataset1.csv'

na = re.search("data\\\(.*)",st)
na.group(1)

'dataset1.csv'